//====================================================================================================

.hero {
  margin-top: rem(171);
  @include adaptiveValue("padding-top", 78, 5);
  @include adaptiveValue("padding-bottom", 127, 80);
  @media (max-width: $mobile) {
    margin-top: rem(80);
  }
  // .hero__banner
  &__banner {
    position: absolute;
    right: -201px;
    top: -190px;
    @include adaptiveValue("width", 918, 440);
    z-index: -1;
    @media (max-width: $mobile) {
      top: 280px;
      @include adaptiveValue("top", 130, 280, 0, 767.98, 375);
      right: 50%;
      transform: translate(50%, 0);
    }
  }
  // .hero__container
  &__container {
    position: relative;
  }
  // .hero__text
  &__text {
    @include adaptiveValue("max-width", 638, 570, 0, 1200, 767.98);
    margin-bottom: rem(70);
    @media (max-width: $mobile) {
      max-width: unset;
      text-align: center;
      margin-bottom: rem(276);
    }
  }
  // .hero__title
  &__title {
    @include adaptiveValue("font-size", 50, 30);
    font-weight: 600;
    font-family: "Noto Serif";
    text-transform: uppercase;
    @include adaptiveValue("line-height", 68, 41);
    @include adaptiveValue("margin-bottom", 60, 30);
    span {
      color: $red;
    }
  }
  // .hero__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    @media (max-width: $mobile) {
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  // .hero__main-button
  &__main-button {
    padding: 23px 20px;
    @include adaptiveValue("width", 270, 220);
    @media (max-width: $mobile) {
      padding: 15px 20px;
    }
  }
  // .hero__sub-button
  &__sub-button {
    padding: 23px 20px;
    @include adaptiveValue("width", 270, 220);
    @media (max-width: $mobile) {
      padding: 15px 20px;
    }
  }
  // .hero__fact
  &__fact {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 30px 0px rgba(156, 38, 48, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    padding: 17px 0;
    width: 100%;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 100, 25, 0, 1200, 767.98);
    @media (max-width: $mobile) {
      padding: 28px 38px;
    }
  }
  // .hero__fact-item
  &__fact-item {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 30, 20, 0, 1200, 767.98);
  }
  // .hero__fact-img
  &__fact-img {
    @include adaptiveValue("width", 120, 50);
  }
  // .hero__fact-text
  &__fact-text {
    color: #000;
    @include adaptiveValue("font-size", 30, 20);
    font-weight: 600;
    text-transform: uppercase;
    @include adaptiveValue("line-height", 37, 25);
    @media (max-width: $mobileSmall) {
      max-width: 180px;
    }
  }
}

//========================================================================================================================================================

.map {
  background: url("@img/map-bg.png") 0 0 / cover no-repeat;
  @media (max-width: $mobile) {
    background: url("@img/map-mobile-bg.png") 0 0 / cover no-repeat;
  }
  // .map__overlay
  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    @include adaptiveValue("padding-top", 80, 50);
    @include adaptiveValue("padding-bottom", 105, 70);
    color: #fff;
  }
  // .map__container
  &__container {
  }
  // .map__wrap
  &__wrap {
    display: flex;
    gap: 30px;
    @media (max-width: $tablet) {
      gap: 15px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 64px;
    }
  }
  // .map__left
  &__left {
    width: calc(100% - 33.333%);
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .map__left-title
  &__left-title {
    @include adaptiveValue("font-size", 40, 25, 0, 1200, 767.98);
    @include adaptiveValue("line-height", 55, 34);
    text-transform: uppercase;
    font-family: "Noto Serif";
    font-weight: 600;
    margin-bottom: rem(64);
    @media (max-width: $mobile) {
      text-align: center;
      margin-bottom: rem(20);
      @include adaptiveValue("font-size", 40, 25);
    }
    span {
      color: $orange;
    }
  }
  // .map__left-img
  &__left-img {
    img {
      width: 100%;
    }
  }
  // .map__right
  &__right {
    width: 33.333%;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  // .map__search
  &__search {
    display: flex;
    width: 100%;
    height: rem(70);
    border: 2px solid #fff;
    box-shadow: 0px 0px 30px 0px rgba(156, 38, 48, 0.2);
    @include adaptiveValue("margin-bottom", 47, 26, 0, 1200, 767.98);
    justify-content: space-between;
    @media (max-width: $mobile) {
      height: 60px;
    }
    input {
      width: 100%;
      height: 100%;
      padding: 19px 0 19px 30px;
      @include adaptiveValue("font-size", 22, 18);
      line-height: 149%;
      background: transparent;
      color: #fff;
      @media (max-width: $mobile) {
        padding: 15px 0 15px 24px;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }
    }
    button {
      height: 100%;
      min-width: rem(70);
      @media (max-width: $mobile) {
        min-width: rem(60);
      }
      &::before {
        font-size: rem(30);
      }
    }
  }
  // .map__articles
  &__articles {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(156, 38, 48, 0.2);
    padding: 27px 40px 38px 28px;
    @media (max-width: $tablet) {
      padding: 20px;
    }
    @media (max-width: $mobile) {
      padding: 20px 25px 30px 25px;
    }
  }
  // .map__articles-title
  &__articles-title {
    color: $orange;
    @include adaptiveValue("font-size", 30, 20);
    font-weight: 600;
    text-transform: uppercase;
    @include adaptiveValue("line-height", 37, 25);
    @include adaptiveValue("margin-bottom", 40, 20, 0, 1200, 767.98);
  }
  // .map__articles-link
  &__articles-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 35, 18, 0, 1200, 767.98);
    @include adaptiveValue("font-size", 23, 19);
    @include adaptiveValue("line-height", 29, 24);
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    &:not(:last-of-type) {
      @include adaptiveValue("margin-bottom", 30, 20, 0, 1200, 767.98);
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: $orange;
        }
      }
    }
  }
  // .map__category
  &__category {
    @include adaptiveValue("margin-top", 103, 45, 0, 1200, 767.98);
    display: flex;
    @include adaptiveValue("gap", 20, 16, 0, 1200, 767.98);
    flex-wrap: wrap;
    @media (max-width: $tablet) {
      display: none;
    }
    @media (max-width: $mobile) {
      display: flex;
    }
  }
  // .map__category-button
  &__category-button {
    display: inline-block;
    padding: 10px 20px;
    text-transform: none;
    font-weight: 400;
  }
  // .map__bottom
  &__bottom {
    @include adaptiveValue("margin-top", 112, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  // .map__bottom-title
  &__bottom-title {
    @include adaptiveValue("font-size", 40, 25, 0, 1200, 767.98);
    @include adaptiveValue("line-height", 55, 34);
    text-transform: uppercase;
    font-family: "Noto Serif";
    font-weight: 600;
    text-align: center;
    @include adaptiveValue("margin-bottom", 44, 30);
    max-width: 798px;
  }
  // .map__bottom-button
  &__bottom-button {
    display: inline-block;
    padding: 25px 20px;
    @include adaptiveValue("width", 270, 220);
    @media (max-width: $mobileSmall) {
      padding: 15px 10px;
    }
  }
}

//====================================================================================================

.info {
  @include adaptiveValue("padding-top", 200, 120);
  @include adaptiveValue("padding-bottom", 200, 160);
  // .info__container
  &__container {
  }
  // .info__item
  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 80, 30, 0, 1200, 767.98);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 200, 120);
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 45px;
    }
  }
  // .info__text
  &__text {
    @media (max-width: $mobile) {
      text-align: center;
    }
    p {
      @include adaptiveValue("font-size", 22, 18);
      line-height: 149%;
      @include adaptiveValue("margin-bottom", 40, 30);
    }
  }
  // .info__title
  &__title {
    font-family: "Noto Serif";
    @include adaptiveValue("font-size", 40, 25);
    @include adaptiveValue("line-height", 55, 34);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: rem(20);
    span {
      color: $red;
    }
  }
  // .info__subtitle
  &__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 20);
    @include adaptiveValue("line-height", 38, 25);
    margin-bottom: rem(30);
    @media (max-width: $mobile) {
      margin-bottom: rem(20);
    }
  }
  // .info__button
  &__button {
    padding: 25px 20px;
    min-width: rem(260);
    display: inline-block;
    @media (max-width: $mobileSmall) {
      padding: 15px 10px;
      width: rem(220);
      min-width: unset;
    }
  }
  // .info__img
  &__img {
    img {
      @include adaptiveValue("width", 540, 300, 0, 1200, 767.98);
      @media (max-width: $mobileSmall) {
        width: 275px;
      }
    }
  }
}
